<div class="widget category-widget">
  <h5 class="widget-title">Categories</h5>
  <ul class="category-list">
    {% assign categories = site.posts | map: "categories" | flatten | uniq | sort %}
    {% for category in categories %}
      {% assign count = 0 %}
      {% for post in site.posts %}
        {% if post.categories contains category %}
          {% assign count = count | plus: 1 %}
        {% endif %}
      {% endfor %}
      <li>
        <a href="{{ site.baseurl }}/categories/{{ category | slugify }}/">
          <span class="category-name">{{ category }}</span>
          <span class="category-count">({{ count }})</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
