<div class="sidebar sticky-top"> 
	<div class="sidebar-section">
        <h5><span>SEARCH</span></h5>
        {% include search.html %}
    </div>  
	<div class="sidebar-section">
        <h5><span>Categories</span></h5>
        {% include categorylist.html %}
    </div> 	
    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {% include newsletter.html %}
    </div>
    <div class="sidebar-section">
        <h5><span>Buy Me A Coffee </span></h5>
		<a href="https://me.momo.vn/X5IouliqfBTzfdseU6TV" target="_blank">
			<img src="{{site.baseurl}}/assets/images/coffee.jpg">
		</a>
    </div>
</div>